<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>老铁社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312">
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/community.css">
    <script src="js/bootstrap.min.js" type="application/javascript"></script>

</head>
<body>
<div th:insert="navigation :: nav"></div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜索问题">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
        </div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>发起</h2>
            <hr>
            <form action="/publish" method="post">
                <div class="form-group">
                    <label for="bs">问题标题:</label>
                    <input type="text" class="form-control" name="title" placeholder="问题标题" id="bs">
                </div>
                <div class="input-group">
                    <label for="bs">问题补充(必填):</label>
                    <textarea name="description" class="form-control" id="description" cols="30"
                              rows="10"></textarea>
                </div>
                <div class="input-group">
                    <label for="bs">添加标签：</label>
                    <input type="text" class="form-control" name="tag" placeholder="请输入标签,以 ，号分隔" id="tag"
                           aria-describedby="basic-addon2">
                </div>
                <span class="alert alert-danger" th:text ="${error}"></span>
                <button type="submit" class="btn btn-success btn-publish">发布</button>
            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>问题发起指南</h3>
            ·富强<br> ·明主<br>·文明<br>·和谐<br>·自由<br>·平等<br>·公正<br>·法治<br>·爱国<br>·敬业<br>·诚信<br>·友善
        </div>
    </div>
</div>
</body>
</html>